ssh_keys = [{
  privatekeyPath = "~/.ssh/id_ed25519"
  publickey      = "ssh-ed25519 AAAAC3N...."
  user           = "Max"
}]

gcp_creds_file_path = "~/gcp-credentials-key.json"
project = "my-project"